{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <h1><strong>Mes équipes</strong></h1>
    </div>
    
    <div class="row">
        <a href="#" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a href="#" class="btn btn-danger glyphicon glyphicon-minus"></a>    
    </div>
    
    <br />
    
    <div class="row">
        <form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>IA</th>
                        <th>Priorité</th>
                        <th>Client</th>
                        <th>Type métier</th>
                        <th>Solution</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 0..10%}
                    <tr>
                        <td>OK</td>
                        <td>01/01/2017</td>
                        <td>JBO</td>
                        <td>1</td>
                        <td>SNCF</td>
                        <td>Ingénieur</td>
                        <td>Cédric Durand</td>
                        <td>
                            <a href="#" class="btn glyphicon glyphicon-wrench"></a>
                            <a href="#" class="btn glyphicon glyphicon-trash"></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}

