{% extends "::base.html.twig" %}

{% block body %}
    
    {# Retour #}
    <div>
        <a href="{{ path('homepage') }}">Retour</a>
    </div>
    
    <div>
        <h1>{{ app.user.initials | upper }} - <strong>Mes Besoins</strong></h1>
    </div>
    
    <div>
        <a href="#" class="btn btn-success glyphicon glyphicon-plus"></a>
    </div>
    
    <div>
        {{ sg_datatables_render(datatable) }}
    </div>
        
{#------------------------------- Message ----------------------------------- #}
{#    {% if msg %}
         <p class="control-group success">{{ msg }}</p>
    {% endif %} #}
{# -------------------------------------------------------------------------- #}

{# ----------------------- Formulaire ADD / Remove -------------------------- #}
{# A factoriser  modif css #}
    <div class="modal fade" id="add-besoin" tabindex="-1" role="dialog" 
        aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Nouveau besoin</h1><br>
               
                
            </div>
        </div>
    </div>
        
    <div class="modal fade" id="remove-besoin" tabindex="-1" role="dialog" 
        aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Supprimer besoin</h1><br>
                <form>

                </form>
            </div>
        </div>
    </div>
{# -------------------------------------------------------------------------- #}      
        
    <br />
{# ----------------------- Liste des besoins -------------------------------- #}   

{% endblock %}

