{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">Retour</a>
    </div>
    
    <h2></h2>
    <hr>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Edit" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
