{% extends '::base.html.twig' %}

{% block body %}
    {% if i == 1 %}
        <h2>Nouveau consultant</h2>
        {% elseif i == 0 %}
            <h2>Nouvelle fiche</h2>
    {% endif %}
    <div class="clear"></div> <br>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-primary" />
    {{ form_end(form) }}

{% endblock %}
